<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/data/jpa
	    http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="moduleDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
          p:driverClassName="${db.driver}"
          p:url="${db.url}"
          p:defaultAutoCommit="false"
          p:username="${db.username}"
          p:password="${db.password}"
          p:maxIdle="8"
          p:testOnBorrow="false"
          p:testWhileIdle="false"
          p:timeBetweenEvictionRunsMillis="300000"
          p:numTestsPerEvictionRun="3"
          p:minEvictableIdleTimeMillis="600000"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:persistenceUnitName="restPersistenceUnit" p:dataSource-ref="moduleDataSource">
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <jpa:repositories base-package="com.isep.javaeeproject.domain.repository"
                      entity-manager-factory-ref="entityManagerFactory"/>

    <context:component-scan base-package="com.isep.javaeeproject.domain.repository"/>
    <context:component-scan base-package="com.isep.javaeeproject.service"/>
    <context:component-scan base-package="com.isep.javaeeproject.web"/>
    <context:component-scan base-package="com.isep.javaeeproject.log"/>

    <context:property-placeholder location="${user.dir}/rest.config" />

</beans>