.dropdown-menu {
    background-color: #222;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
    background: #222 none;
}

.dropdown-menu .input-group {
    margin: 0 3px 5px 3px;
}

.dropdown-menu button {
    margin: 0 3px 5px;
    display: inline-block;
    float: right;
}

.dropdown-menu > li.divider {
    clear: right;
    background-color: #080808;
}

.container {
    padding: 0;
}

.footer {
    margin-top: 20px;
}

.footer > div {
    text-align: center;
}